body{
  display: flex;
  justify-content: center;
  align-items: center;

  margin:0;
  height: 100vh;

  font-family: 'Dosis', sans-serif;
}

#container {
  margin-top:2vh;
  background-color: #b91920;
  border-radius: 30px;
  box-shadow: 20px 20px #9c131a, 0px 20px #9c131a, 20px 0px #9c131a;
  height: 90vh;
  width: 90vw;

  font-family: 'Great Vibes', cursive;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  justify-items: center;
}

#drawBoard {
  background-color: #cccecd;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(153,153,153,1) 0%, rgba(204,206,205,1) 50%, rgba(153,153,153,1) 100%);

  grid-area: 2 / 2 / 3 / 3;
  width:100%;
  height: 100%;

  border: 10px solid #9c131a;

  overflow-y: hidden;
}

.sideNobs{
  background-color: white;
  border-radius: 100%;
  box-shadow: 5px 5px #e1e1e1, 0px 5px #e1e1e1, 5px 0px #e1e1e1;

  margin-bottom: 1%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -5px;
}

#nobRight{
  grid-area: 3 / 1 / 4 / 2;
}

#nobLeft{
  grid-area: 3 / 3 / 4 / 4;
}

#name{
  color:#ffd700;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px #c4951d, -2px -2px #c4951d;

  margin: 0;
  padding: 2% 0;

  grid-area: 1 / 2 / 2 / 3;
}

.innerCircle{
  background-image: linear-gradient(white,rgb(225, 225, 225));
  width:80%;
  height: 80%;
  border-radius: 50%;
  border:10px solid white;
}

#instructionsBack {
  position:absolute;
  width:100vw;
  height: 100vh;
  background-color: rgba(122, 122, 122, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions{
  min-width: fit-content;
  min-height: fit-content;
  width:30vw;
  height:50vh;
  background-color: #FFFCFF;
  border-radius: 40px;
  padding:0 5vw;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1{
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

td{
  width:10vw;
}
